.dart_tool
.git
.idea
android/build
backend/node_modules
backend/dist
sisonke-admin-dashboard/node_modules
sisonke-admin-dashboard/dist
build
ios/Flutter/ephemeral
linux/flutter/ephemeral
macos/Flutter/ephemeral
windows/flutter/ephemeral
*.iml
.env
.env.*
!/.env.production.example
